<div class='task-wrapper'>
<div id="<%= dom_id task %>" class='task'>
<p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>
  <p>
    <strong>Details:</strong>
    <%= task.details %>
  </p>
</div>
</div>