<%= render "nav" %>
<h1 class='title'><%= @category.name %></h1>
<h1 class='title'>Tasks</h1>

<div id="tasks">
<div id='task-container'>
  <% @category.tasks.each do |task| %>
    <%= link_to render(task), category_task_path(@category, task) %>
  <% end %>
  <div id='new-task-container'>
    <%= link_to "+", new_category_task_path %>
  </div>
</div>
</div>

