<%= render "nav" %>

<div class='home'>
    <%= image_tag "club.png", class:'club'%>
    <div class='info'>
    <h1>Welcome to the Journalling Club!</h1>
    <p>One of the more effective acts of self-care is also, happily, one of the cheapest.</p>
    </div>
</div>