.task-wrapper,
#new-task-container,
#new-category-container,
.category-wrapper {
    background-color: rgb(178, 201, 159);
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
}

.task-wrapper,
.category-wrapper {
    padding: 1rem;
    overflow-wrap: break-word;
    overflow: auto;
}

#new-task-container,
#new-category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.task,
.category {
    margin: 0.5rem;
}