/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didot', serif;
 }

body {
    background-image: url("doodle.png");
    background-size: cover;
    background-repeat:repeat;
}

 a:link,
 a:visited {
    text-decoration: none;
    color: black;
 }

 .user-nav,
 nav {
    width: 100vw;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(178, 201, 159);
 }

 .user-nav-buttons > a:hover,
 nav > a:hover {
    text-decoration: underline;
 }

 .title {
    text-align: center;
    padding: 1rem 0 0.5rem;
 }

 .form-container {
    background-color: rgb(178, 201, 159);
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.new_user {
    background-color: rgb(178, 201, 159);
    width: 22%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

form > div {
    padding: 0.5rem 0;
}

.form-errors {
    list-style: none;
}

input[type=email],
input[type=password],
input[type=text], 
textarea {
    margin: 0.35rem 0;
    padding: 0.25rem 0.35rem;
    border-radius: 5px;
    border: none;
    width: 100%;
}

textarea {
    resize: none;
}

.edit-link,
.delete-button,
input[type=submit] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

input[type=submit] {
    background-color: white;
    color: black;
}

.edit-link,
.delete-button {
    background-color: rgb(178, 201, 159);
    color: black;
}

.edit-link:hover,
.delete-button:hover,
input[type=submit]:hover {
    color: white;
    background-color: rgb(120, 146, 98);
}

.log-in-options,
.edit-profile-options {
    margin: auto;
    width: 22%;
    text-align: center;
    padding: 1rem;
}

.edit-profile-options > *:hover,
.log-in-options > a:hover {
    text-decoration: underline;
}

.nav-logo {
    height: 3.5vh;
    width: auto;
}

#logout-button,
#cancel-account-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 100%;
}

#logout-button:hover,
#cancel-account-button:hover {
    text-decoration: underline;
}

.user-nav-buttons {
    display: flex;
}

.user-nav-buttons > * {
    padding: 0 0 0 0.5rem;
}