<nav>
    <%= link_to "Home", home_path %>
    <%= link_to "Journal", categories_path %>
    <%= image_tag "nav-logo.png", class: 'nav-logo'%>     
    <span>FAQ</span>
    <span>Contact</span>
</nav>