<section>
<%= render "nav" %>
<div class='container'>
<h2>Edit category</h2>
<%= render "category", category: @category %>

<br>

<div>
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", category_path %>
</div>
</div>
</section>