<%= render "nav" %>
<h1 class='title'>Categories</h1>

<div id="categories">
<div id='category-container'>
  <% @categories.each do |category| %>
    <%= link_to render(category), category %>
  <% end %>
  <div id='new-category-container'>
    <%= link_to "+", new_category_path %>
  </div>
</div>
</div>

