<section class='new-section'>
<%= render "nav" %>
<div class='new-container'>
<h1 class='title'>New Category</h1>
<div class='form-container'>
<%= render "form", category: @category %>
</div>
</div>
</section>